@model ShoppingApp.Data.Entities.Product

@{
    ViewData["Title"] = "Delete";
}
<div class="row" style="float: none !important;margin-top: 60px;">
    <div class="col-md-4 offset-md-4 detail-card">
        <div style="display:flex; align-items:center;">
            <h5 class="detailheader">Category</h5>
            <span class="detailvalue">@Model.Category</span>
        </div>
        <div style="display:flex; align-items:center;">
            <h5 class="detailheader">Size</h5>
            <span class="detailvalue">@Model.Size</span>
        </div>
        <div style="display:flex; align-items:center;">
            <h5 class="detailheader">Price</h5>
            <span class="detailvalue">@Model.Price</span>
        </div>
        <div style="display:flex; align-items:center;">
            <h5 class="detailheader">Title</h5>
            <span class="detailvalue">@Model.Title</span>
        </div>
        <div style="display:flex; align-items:center;">
            <h5 class="detailheader">Description</h5>
            <span class="detailvalue">@Model.Description</span>
        </div>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" style="color: white;" />
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                <a asp-action="Index" style="color: white;" class="btn btn-primary">Back to List</a>
            </form>
        </div>
    </div>
</div>